<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="alert alert-danger">TODO: Finish marketing slick.</div>

      <h1 class="page-header">Who We Are</h1>

      <p>
        Sensible Energy Solutions is a mechanical engineering firm which uses new innovative technology to diagnose and optimize energy use
        to save you money and time.
      </p>

      <h1 class="page-header">What We Do</h1>

      <p>
        We install state of the art data collection devices at your location and optimize your building's energy performance.
      </p>

    </div>

  </div>

</div>
