<div class="jumbotron ses-jumbotron-front">
  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <h1>SES Dashboard</h1>

        <p>Monitor energy consumption to save</p>

        <p><a href="#/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>

      </div>

    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <p><a href="#/locations" class="btn btn-info btn-lg btn-block" role="button">All Locations &raquo;</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Featured Locations</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-centered">
      <img data-src="holder.js/242x200" alt='Thumbnail' class="img-thumbnail img-responsive" holder-fix/>
      <div class="caption">
        <h3>Mesa County Courthouse</h3>
        <p><a href="#/location/mc_courthouse" class="btn btn-success" role="button">Go &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-centered">
      <img data-src="holder.js/242x200" alt='Thumbnail' class="img-thumbnail img-responsive" holder-fix/>
      <div class="caption">
        <h3>Mesa County Human Resources Department</h3>
        <p><a href="#/location/mc_hr_dept" class="btn btn-success" role="button">Go &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-centered">
      <img data-src="holder.js/242x200" alt='Thumbnail' class="img-thumbnail img-responsive" holder-fix/>
      <div class="caption">
        <h3>Mesa County Fleet Maintenance Shop</h3>
        <p><a href="#/location/mc_fleet_maintenance" class="btn btn-success" role="button">Go &raquo;</a></p>
      </div>
    </div>
  </div>

</div>
